* {
    margin: 0 auto;
}
#container {
    position: relative;
    width: 1160px;
    height: 180px;
    border: 5px solid black;
    overflow: hidden;
}
.image {
    float: left;
    width: 180px;
    height: 180px;
}
.arrowLeft {
    position: absolute;
    top: 70px;
    left: 20px;
}
.arrowRight {
    position: absolute;
    top: 70px;
    right: 20px;
}
#zoom-in {
    position: absolute;
    width: 500px;
    height: 450px;
    top: 250px;
    left: 550px;
    z-index: 1000;

}
#zoom-in img {
    width: 500px;
    height: 450px;
}